.env
.env.*
!.env.example
.git
.gitignore
.idea
.vscode
.pids
.DS_Store
backend/lastsaas
backend/lastsaas-cli
backend/lastsaas-server
backend/server
backend/vendor
backend/config/dev.yaml
backend/config/prod.yaml
frontend/node_modules
frontend/dist
bin
*.swp
*.swo
*~
